<div class="hombre_group_padding">
</div>

<div class="selection_target details" style="overflow: hidden;" id="#{id}">
  <table class="palm-list-section-label collapsible">
    <tr>
      <td class="label">
        <span x-luna-loc=''>#{-title}</span>
      </td>
      <td class="line" width="100%">
      </td>
      <td>
        <div class="palm-arrow-closed arrow_button"></div>
      </td>
    </tr>
  </table>
 </div>
	 
<div style="display:none; overflow: hidden;" id="items_#{id}" class="xxx_regular">
	<div>Data downloading...</div>
</div>


